{% if article.summary %}
<meta name="description" content="{{ article.summary|striptags }}" />
{% endif %}
{% for tag in article.tags %}
<meta name="tags" content="{{ tag }}" />
{% endfor %}
<!-- OpenGraph meta tags -->
<meta property="og:title" content="{{ article.title|striptags }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:type" content="{% if article.og_type %}{{ article.og_type }}{% else %}article{% endif %}" />
<meta property="og:description" content="{{ article.summary|striptags }}" />
<meta property="og:image" content="{{ SITEURL }}{% if article.og_image %}{{ article.og_image }}{% else %}{{ SITE_OG_IMAGE }}{% endif %}" />
<meta property="og:locale" content="{{ LOCALE }}" />
<meta property="og:site_name" content="{{ SITENAME }}" />
{% if FB_APP_ID %}<meta property="fb:app_id" content="{{ FB_APP_ID }}" />{% endif %}
<!-- Structured Data: because meta tags aren't good enough for Google. -->
<script type="application/ld+json"> 
	{ 
	  "@context" : "http://schema.org", 
	  "@type" : "Article", 
	  "name" : "{{ article.title|striptags }}", 
	  "author" : { 
		"@type" : "Person", 
		"name" : "{{ SITE_AUTHOR }}" 
	  }, 
	  "datePublished" : "{{ article.date }}", 
	  "image" : "https:{{ SITEURL }}{% if article.og_image %}{{ article.og_image }}{% else %}{{ SITE_OG_IMAGE }}{% endif %}", 
	  "articleSection" : "{{ article.summary|striptags }}", 
	  "articleBody" : "{{ article.content|striptags }}", 
	  "url" : "https:{{ SITEURL }}/{{ article.url }}", 
	  "publisher" : { 
		"@type" : "Person", 
		"name" : "{{ SITE_AUTHOR }}" 
	  }, 
	  "aggregateRating" : { 
		"@type" : "AggregateRating"
		, "ratingValue" : "666" } 
	}
</script>
