<footer id="page-footer" class="page-footer" aria-label="Site Information" role="contentinfo">
	<p>&copy; {% if START_YEAR and START_YEAR != BUILD_YEAR %} {{START_YEAR}} - {% endif %} {{ BUILD_YEAR }} <a href="mailto:{{ AUTHOR_EMAIL}}">{{ AUTHOR }}</a> &middot; released under <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA 4.0</a><br />Made with <span class="red">&hearts;</span> in {{ AUTHOR_LOCATION }} &middot; powered by <a href="https://docs.getpelican.org">Pelican</a> and <a href="https://openbsd.org">OpenBSD</a></p>
	<p><a href="#content">back to top <strong>&uarr;</strong></a></p>
</footer><!-- /#contentinfo -->
