 <div class="offscreen">
	<a href="#content">skip to main content <strong>&darr;</strong></a>
</div>
{% if page_name != 'index' %}
  <nav id="header-menu" class="header-nav" aria-label="Top Navigation">
	  {% for name, url in HEADER_NAV_MENU %}
		  {% if loop.first %}
			  <a href="{{ url }}">{{ name }}</a>
		  {% else %}
			  &middot; <a href="{{ url }}">{{ name }}</a>
		  {% endif %}
	  {% endfor %}
  </nav><!-- /#header-menu -->
{% endif %}
<header id="banner" class="page-header" aria-label="Site Introduction" role="banner">
	{% if page_name == 'blog/index' %}
    <h1>{{ SITE_BLOG_NAME }}</h1>
  {% elif page_name == 'blog/archives/index' %}
    <h1>{{ SITE_BLOG_NAME }} Archives</h1>
  {% elif page %}
	  <h1>{{ page.title }}</h1>
	{% elif article %}
	  <h1>{{ article.title }}</h1>
	{% else %}
	  <h1>{{ SITENAME }}</h1>
	{% endif %}
</header><!-- /#banner -->
