.content h1, h2, h3, h4, h5, h6 {
    hyphens: auto;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.content a {
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}

.content h2 a, .content h3 a {
  text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

.masthead {
    margin-bottom: 1.5em;
}

.page-footer {
    border-top: solid .1em $red;
    margin-top: 1rem;
}

.red {
    color: $red;
    font-size: 1.25rem;
}

.image-reference {
    display: block;
    margin: 1em auto;
}

.article-title {
  border: none 0;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 1em;
}

.article-summary, .article-full-text-link {
  margin-left: 1em;
}

.article-footer {  
  h2 {
    border: none 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  p {
    margin-top: .1em;
    margin-bottom: .1em;
  }
}

.article-full-text-link {
  margin-top: 1rem;
}

.offscreen {
	a {
		position:absolute;
		left:-1000px;
		top:-1000px;
		width:1px;
		height:1px;
		text-align: left;
		overflow:hidden;
	}
	
	a:focus, a:active, a:hover {
		position:absolute;
		left:0;
		top:0;
		width:auto;
		height:auto;
		overflow:visible;
		background-color:#FF3;
		border: 1px dotted $offBlack;
	}
}

.readtime {
  font-family: $systemSansSerif;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  
  .readtime-value {
    font-weight: bold;
  }
}
