html {
    font-size: medium;
}

body {
    background-color: $offWhite;
    color: $offBlack;
    font-family: $systemSerif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 2rem auto;
    max-width: 40em;
    padding: 0 2em;
    width: auto;
}

a {
    color: $blue;
    text-decoration: none;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    transition-timing-function: linear;
    
    &:visited {
        color: $purple;
        font-style: italic;
    }
    
    &:hover {
        background: $blue;
        color: $offWhite;
        text-decoration: underline;
    }
    
    &:active {
        background-color: $blue;
        color: $offWhite;
        color: $white;
    }
}

p {
    hyphens: auto;
    font-feature-settings: "liga", "clig";
    font-variant-ligatures: normal;
    font-variant-ligatures: common-ligatures;
}

ul {
  line-height: 1.8;
  list-style-type: "\2605 \20";
  
  ul {
    list-style-type: "\2606 \20";
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $systemSansSerif;
  font-feature-settings: "dlig";
  font-variant-ligatures: discretionary-ligatures;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.2;
}

h2 {
  border-bottom: solid 0.1em $offBlack;
  font-size: 1.8rem;
  padding-bottom: 0.2em;
}

h3 {
    border-bottom: solid 1px $offBlack;
    font-size: 1.5rem;
    padding-bottom: 0.1em;
}

h4 {
    border-bottom: dotted 1px $offBlack;
    font-size: 1.3rem;
    padding-bottom: 0.1em;
}

h5 {
    font-size: 1.2rem;
    font-style: italic;
}

h6 {
    font-size: 1.1rem;
    margin-bottom: 0.75em;
}

blockquote, .line-block {
    border-left: solid 0.2em $offBlack;
    font-family: $systemSerif;
    font-style: normal;
    margin: 1.5em 0;
    padding-left: 1em;
}

cite {
    font-style: normal;
}

pre, code, xmp {
    font-family: $systemMonospace;
    white-space: pre-wrap;
}

figure {
    font-family: $systemSerif;
    font-weight: bold;
    margin: 1em 0;
    img, video {
        border: solid 0.1em $blue;
    }
}

dt {
    margin-top: 1em;
    margin-bottom: .5em;
    font-family: $systemSansSerif;
    font-size: 1.1rem;
    font-weight: bold;
}

table {
  max-width: 100%;
  border: solid .1em $offBlack;
	
  th {
    padding: .25em;
  }
	
  td {
    padding: .25em;
  }
}

img, video {
  max-width: 100%;
}
