@media (min-width: $smallScreen) {
    html {
        font-size: medium;
    }
    
    blockquote, .line-block {
        margin: 1.5em 1.5em;
    }
    
    figure {
        margin: 1.5em 1.5em;
    }
    
    .title {
		  font-size: 2.2rem;
		  margin-bottom: .5em;
	  }
    
    .article-footer-info {
        color: $blue;
        border-bottom: dotted 0.1em $blue;
    }
    
    .section {
      .section {
        margin-left: 1em;
        
        .section {
          margin-left: 1em;
          
          .section {
            margin-left: 1em;
          }
        } 
      }
    }
}

@media (min-width: $largeScreen) {
    html {
        font-size: large;
    }
    
    .title {
		  font-size: 2.2rem;
		  margin-bottom: .5em;
	  }
    
    blockquote, figure, .line-block {
        margin: 1.5em 3em;
    }
}

@media (min-width: $largerScreen) {
    html {
        font-size: larger;
    }

    .title {
		  font-size: 2.2rem;
		  margin-bottom: .5em;
	  }
	
    blockquote, figure, .line-block {
        margin: 1.5em 3em;
    }
}

@media (min-width: $largestScreen) {
    html {
        font-size: largest;
    }

    .title {
		  font-size: 2.2rem;
		  margin-bottom: .5em;
	  }
	
    blockquote, figure, .line-block {
        margin: 1.5em 3em;
    }
}
