// color variables
$white: #ffffff;
$offWhite: #fffff0;
$offBlack: #36454F;
$blue: #2274a5;
$red: #a5243d;
$purple: #ba2c73;

// font variables
 $systemSansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", "Source Sans Pro", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $systemSansSerif: sans-serif;

$systemSerif: "Apple Garamond", "Baskerville", "Georgia", "Times New Roman", "Roboto Slab", "Droid Serif", "Times", "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $systemSerif: serif;

$systemMonospace: "SF Mono", "Monaco", "Inconsolata", "Hack", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
// $systemMonospace: monospace;

// screen size breakpoints
$smallScreen: 512px;
$largeScreen: 1280px;
$largerScreen: 1600px;
$largestScreen: 1920px;
