{% extends "base.html" %}
{% block title %}
{{ SITE_BLOG_NAME }} Archives &middot; {{ SITENAME }}
{% endblock %}
{% block content %}
<section class="content" id="content">
  <p>The permalink for every post on <a href="{{ SITEURL }}/blog/">{{ SITE_BLOG_NAME }}</a> is available here for sharing or linking on your own website. Enjoy!</p> 
  <dl>
  {% for year, year_articles in articles|groupby('date.year')|sort(reverse=True) %}
      <dt>{{ year }}</dt>
      {% for article in year_articles|sort(attribute='date', reverse=True) %}
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
      {% endfor %}
  {% endfor %}
  </dl>
</section>
{% endblock %}
