{% extends "base.html" %}
{% block title %}
{{ article.title|striptags }} &middot; {{ SITENAME }}
{% endblock %}

{% block content %}
<article class="content" id="content">
  <header id="article-header" class="article-header" aria-label="Article title">
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
    {% if article.readtime %}
    <div class="readtime">estimated reading time: <span class="readtime-value">{{ article.readtime.minutes }}{% if article.readtime.minutes == 1 %} minute or less{% else %} minutes</span>{% endif %}
    </div> 
    {% endif %}
  </header>
  <section class="article-text">
    {{ article.content }}
  </section><!-- /.article-text -->
  <footer id="article-footer" class="article-footer" aria-label="Article Information">
		<h2>About This Post</h2>
		{% if SHOW_POST_AUTHORS and article.authors %}
		<p>by {% for author in article.authors %}
		<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if (loop.index >= 1) and (loop.index < (loop.length - 1)) %}, {% elif loop.index == (loop.length - 1) %} and {% endif %}
		{% endfor %}</p>
		{% endif %}
		<p>published on: <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% if article.modified %}, and last updated on: <time class="modified" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time></p>
		{% endif %}
		{% if SHOW_POST_CATEGORY %}
		<p>filed under: <em><a class="url" href="{{ SITEURL }}/blog/category/{{ category.slug }}/">{{ category }}</a></em></p>
		{% endif %}
		{% if SHOW_POST_TAGS %}
		<p>tagged with: {% for tag in article.tags %} 
		<a href="{{ SITEURL }}/blog/tag/{{ tag.slug }}/">"{{ tag }}"</a>{% if (loop.index >= 1) and (loop.index < (loop.length - 1)) %}, {% elif loop.index == (loop.length - 1) %} and {% endif %}
		{% endfor %}</p>
		{% endif %}
		<h2>Questions or Comments?</h2>
		<p>Send <a href="mailto:{{ AUTHOR_EMAIL }}?subject={{ article.title|striptags|urlencode }}">email</a> or find me on <a href="{{ AUTHOR_MASTODON }}">Mastodon</a>.</p>
  </footer><!-- /.post-info -->
</article>
{% endblock %}

