{% extends "base.html" %}
{% block seo %}
{% include 'partials/home-seo.html' %}
{% endblock seo %}
	
{% block content %}
<section class="content" id="content">
  <p>Hello.  Chances are we've met online, or somebody shared something I
  wrote to a news site you frequent.  Regardless of how you found me, here I
  am.</p>
	
  <p>This is only my home on the network, so I can't offer you much in the
  way of hospitality.  Since I can't offer you a beer, how about something
  to read?</p>
	
  <nav id="home-menu" role="menu"> 
    <ul>
      {% for name, url in HOME_MENU %}
      <li><a title="{{ name }}" href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  
  <noscript>
    <h2>No JavaScript?  No Problem!</h2>
		
    <p>Incidentally, it looks like you've disabled JavaScript or are using a
    browser that doesn't support it.  The vast majority of this site's
    content should still be accessible, but embedded stuff like YouTube
    videos might not work.</p>
    
    <p>Please <a href="mailto:{{ AUTHOR_EMAIL }}?subject=NoScript%20Questions">email me</a> 
    if you have any questions or problems.</p>
	
  </noscript>
</section>
{% endblock %}
