{% extends "base.html" %}
{% block title %}
{{ SITE_BLOG_NAME }} &middot; {{ SITENAME }}
{% endblock %}
{% block content %}
<section class="content" id="content">
  <p>This is my blog, named for an old New York Lottery marketing slogan.</p>
  {% if category %}
  <p>The following posts are filed under <strong>{{ category }}</strong>. Other <a href="/blog/categories/">categories</a> are available.</p>
  {% endif %}
  
	{% set articles_by_date = articles_page.object_list | groupby('locale_date') %}
	{% for date in dates_page.object_list|map(attribute='locale_date')|unique %}
	  <h2 class="posts-for-date">{{ date }}</h2>
		{% for articles in articles_by_date %}
			{% if articles.grouper == date %}
				{% for article in articles.list %}
					<article class="blog-index-item">
						<h3 class="article-title">{{ article.title }}</h3>
						{% if article.readtime.minutes > 1 %}
						<section
						class="article-summary">{{ article.summary }}</section>
						<aside class="article-full-text-link"><a title="Link to full text of post: «{{ article.title|striptags}}»" href="{{ SITEURL }}/{{ article.url }}"><em>{{ article.readtime.minutes }}{% if article.readtime.minutes == 1 %} minute or less{% else %} minutes{% endif %} to read</em></a></aside>
						{% else %}
						<section class="article-summary">{{ article.content }}</section>
						<aside class="article-full-text-link">
						  <em>Bookmark or share with a <a title="Link to full text of post: «{{ article.title|striptags}}»" href="{{ SITEURL }}/{{
						article.url }}">permalink</a>.</em>
						</aside>
						{% endif %}
					</article>
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	{% if dates_page.has_other_pages() %}
		{% include 'pagination.html' %}
	{% endif %}
</section><!-- /#content -->
{% endblock content %}
