{% extends "base.html" %}
{% block title %}
{{ page.title }} &middot; {{ SITENAME }}
{% endblock %}

{% block content %}
<section class="page-content" id="content">
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}

  {{ page.content }}

  {% if page.modified %}
  <p>Last updated: {{ page.locale_modified }}</p>
  {% endif %}
</section>
{% endblock %}
